.form-container{
    height: fit-content;
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(108,0,0);
    font-weight: bold;
}

.form-control{
    padding-bottom: 1.2rem;
}
.form-control.invalid input,.form-control.invalid input:focus{
    border-color: red;
    background: rgb(255, 185, 185);
}

.form-control label, input{
    display: block;
    width: 100%;
}
.form-control input{
    color: rgb(74, 72, 72);
    border-radius: 5px;
    border:1px solid rgb(74, 72, 72);
}
.form-control input:focus{
    border:2px solid rgb(245, 243, 93);
    background: rgb(245, 245, 153);
    outline: none;
}
.form-control:nth-child(3){
    width: 50%;
}

.name-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
}

.actions{
    display: flex;
   justify-content: center;
   gap:1rem;
}
.btn:disabled{
    background: gray;
    border:2px solid rgb(97, 97, 97);
    cursor: not-allowed;
    color:#000;
}

.form-submitted{
    text-align: center;
    padding-bottom:1rem 
}
.form-submitted p{
    padding: .5rem 1rem; 
    background: rgb(55, 214, 55);
    display:inline;
    color:#fff;
    border-radius:15px;
}