.backdrop {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.728);
  z-index: 999;
  position: fixed;
  inset: 0 0 0 0;
}
.model-overlay{
  position: fixed;
  height: fit-content;
  max-height: 25rem;
  overflow-y: scroll;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 45rem;
  max-width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

/* Width */
.model-overlay::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 0 15px 15px 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(171, 166, 166); 
  border-radius: 0 15px 15px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 116, 116); 
}
