.header-cart-btn{
    background: rgb(53, 1, 1);
    display: flex;
    color:#fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
}
.header-cart-btn:hover{
    background: rgb(124, 1, 1);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75);
}
.header-cart-btn .cart{
    font-size: 1rem;
    margin-right: .7rem;
    padding-top: 4px;
}
.header-cart-btn .header-cart-title{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: .7rem;
    padding-top: 4px;
}
.header-cart-btn .header-cart-quantity{
    padding: 3px 10px;
    background: rgb(108, 0, 0);
    border-radius: 15px;
}

.bump-up{
    animation: bumpUp 400ms ease-in-out;
}

@keyframes bumpUp {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}